canvas{
	background: black;
	position: relative;
	height: 800px;
	width: 1850px;
}
body{
	background-color: #212121;
	margin: 0;
}
*{
	box-sizing: border-box;
	overflow: hidden;
}
input{
	height: 50px;
	width: 300px;
}
div #inputs{
	width: 1200px;
}
a{
	color: white;
	font-size: 20px;
	position: relative;
	top: -20px;
}
div #cg{
	display: flex;
}
#clr{
	height: 50px;
	width: 100px;
}